@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/1008885821027405958/1009265593003810847/image_1.png");
    background-position: center;
    background-size: cover;
}

.page {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: rgb(225, 74, 190);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 100px;
    letter-spacing: 7px;
}

.navbar div {
    margin-right: 100px;
}

.navbar button {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    color: rgb(199, 199, 199);
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    outline: none;
    padding: 10px;
    transition: opacity .5s;
}

.navbar button:hover {
    opacity: 0.6;
    transition: opacity .5s;
}

.page-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.page-item footer {
    color: rgba(87, 87, 87, 0.308);
    position: fixed;
    bottom: 3%;
    text-align: center;
    margin-top: 150px;
}

.hello-card {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hello-card-img {
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    height: 350px;
    margin-right: 85px;
    opacity: 0.9;
    width: 350px;
}

.hello-card h2 {
    color: rgb(199, 199, 199);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
}

span {
    color: rgb(225, 74, 190);
    font-weight: 600;
    font-style: normal;
}

.links-card {
    font-size: 50px;
    margin-top: 50px;
}

.links-card i {
    color: rgb(87, 87, 87);
    margin: 18px;
    transition: color .3s;
}

.links-card i:hover {
    color: rgb(132, 132, 132);
    transition: color .3s;
}

.projects-container {
    text-align: center;
    max-height: 600px;
}

.project-container {
    align-items: center;
    background-color: #0d1117;
    border-radius: 10px;
    color: rgb(188, 188, 188);
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    transition: all .5s;
    width: 400px;
}

.project-container i {
    font-size: 30px;
}

.project-container div {
    width: 300px;
}

.project-container:hover {
    background-color: #1d1d1f;
    transition: all .5s;
}

.project-container h4 {
    margin-bottom: 10px;
}

.project-title {
    border-radius: 10px;
    border: 2px solid rgb(225, 74, 190);
    color: rgb(225, 74, 190);
    font-weight: 400;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

#selected-navitem {
    background-color: rgb(222, 18, 174);
    color: #000;
    font-weight: 600;
}

#loading-spinner {
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    color: rgb(225, 74, 190);
    font-size: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    width: 100%;
}

.contact-item div a {
    margin: 10px;
}

.whatsapp {
    align-items: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    text-decoration: none;
    transition: opacity .4s;
}

.whatsapp p {
    color: rgb(188, 188, 188);
    margin-left: 15px
}

.whatsapp:hover {
    opacity: 0.7;
    transition: opacity .4s;
}

.whatsapp img {
    width: 30px;
}

.form-container {
    width: auto;
}

.form-container input, .form-container textarea {
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    border: none;
    color: #fff;
    display: block;
    font-size: 17px;
    margin: 10px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 600px;
}

.form-container h2 {
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    color: rgb(222, 18, 174);
    margin-top: 5px;
    margin: auto;
    padding: 8px;
    text-align: center;
    width: 600px;
}

.form-container textarea {
    height: 150px
}

.form-container input:focus, .form-container textarea:focus {
    border-bottom: 2px solid rgb(222, 18, 174);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-container button {
    background-color: rgb(222, 18, 174);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    outline: none;
    padding: 8px;
    transition: opacity .3s;
    width: 600px;
}

.form-container button:hover {
    opacity: 0.8;
    transition: opacity .3s;
    cursor: pointer;
}

.error-text {
    color: rgb(224, 67, 67);
    text-align: center;
}

.about-container {
    color: rgb(188, 188, 188);
    width: 60%;
    height: 500px;
    text-align: center;
}

.about-container p {
    font-family: monospace;
}

.about-container p div {
    display: flex;
    justify-content: center;
}

.about-container p span {
    color: rgb(222, 18, 174)
}

.about-container nav {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.about-container nav button {
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    border: none;
    color: rgb(188, 188, 188);
    font-size: 20px;
    margin-right: 20px;
    outline: none;
    padding: 5px;
    transition: opacity .5s;
}

.about-container nav button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .5s;
}

#selected-aboutnavitem {
    font-weight: 600;
    background-color: rgb(222, 18, 174);
    color: rgb(0, 0, 0);
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 100%;
}

.about-container p h3 {
    color: rgb(225, 74, 190);
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-container p div img {
    width: 250px;
    object-fit: cover;
    margin: 5px 15px 15px 0;
    border-radius: 5px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        color: rgb(222, 18, 174)
    }

    to {
        transform: rotate(360deg);
        color: rgb(225, 74, 190);
    }
}

@media (max-width: 970px) {
    .navbar {
      flex-direction: column;
    }

    .navbar button {
        font-size: 15px;
    }

    .navbar h2 {
        margin: 0 0 10px 0;
    }

    .navbar div {
        margin: 0;
    }

    .hello-card-img {
        width: 200px;
        height: 200px;
        margin-right: 15px;
    }

    .hello-card h2 {
        font-size: 25px;
    }

    .about-container {
        width: 95%;
    }

    .about-container nav button {
        font-size: 15px;
        margin-right: 10px;
    }

    .about-container p div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-container {
        overflow-y: auto;
        height: 400px;
        flex-direction: row;
    }

    .project-container {
        font-size: 8px;
        width: 30%;
    }

    .project-container i {
        margin-right: 7px;
    }

    .form-container input, .form-container textarea {
        width: 350px;

    }

    .form-container h2 {
        width: 350px;
        font-size: 17px;
    }

    .form-container button {
        width: 350px;
    }

    .contact-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        z-index: 1000;
    }
}